@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,400;1,800&family=Mochiy+Pop+P+One&family=Quicksand:wght@360&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  font-family: "Mochiy Pop P One", sans-serif;
  font-family: "Quicksand", sans-serif;
}